*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#container{
    background-color: #E7EFFF;
    background-size: cover;
    min-height: 100vh;

}

.navbar{
    background-color: #25252A;
    height: 9em;
    display: flex;
    text-decoration: none; 
    line-height: 8em;
}

.navbar a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}

.navbar a:hover{
    transition-delay: 0.5ms;
    color: #ffffff
}

.navbar{
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-top: 2em;
}
.home{
    width:80%;
    padding-left: 3em;
    display: flex;
    justify-content: space-between;
    
}

.nav_right{
    display: flex;
    width:20%;
    padding-right: 3em;
    
    
}

.login{
    padding-left: 5em;
}
.aside_right {
    background-color: #25252A;
    padding: 2em;
    min-height: 100vh;
    position: fixed;
    height: 100px;
    top: 0;
    margin-top: 9em;
}

.container_language a{
    text-decoration: none;
    color: white;
    text-align: left;
}
.container_language a:hover{
    transition-delay: 0.5ms;
    color:#558EF8
}

.categorie{
    font-size: 1em;
}

.cat1 {
    margin-bottom: 2em;
    text-align: left;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
}

.container_language{
    display: flex;
    flex-direction: column;
    background-color: #363A50;
    padding-top: 1em;
    margin:0 auto;
    padding: 1em;
    
}

.container_language a{
    padding-bottom: 0.5em;
    padding-top: 1em;
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
}

.robot{
    margin:0 auto;

}

.robot img{
    width:12em;
    padding-left: 6em;
   
}

.navbar button{
    background-color: #558EF8;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border:0.16em solid #000000;
    padding:0.8em;
    border-radius: 0.4em;
    width: 9em;

}
/****container video in grid remplate******/

.container_video{
    display: flex;

}

.wrapper_container{
    margin: 0 auto;
    padding: 1em;
    padding-left: 15%;
    
}

.box {
    background-color:#363B4F;
    color: #fff;
    font-size: 1em !important;
    
    
  }
  
  .wrapper {
    padding-top: 5em;
    width: 100%;
    display: grid;
    grid-gap: 2.3em;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 255px 255px 255px;
    height: auto;
    /*grid-auto-flow: column;*/
}

  .spa{
      padding: 0.5em;
      text-align: center;
  }


