<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Elearning Platform</title>
    <link rel="stylesheet" href="../static/css/addvideo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <nav class="navbar">
            <div class="home">
                <div>
                    <button><a href="/">Home</a></button>
                </div>
                <div class="robot">
                    <img src="../static/img/robot-mecanico.png" alt="logo mecanique" class="logo">
                </div>
            </div>
            <div class="nav_right">
                <div class="add_video">
                    <button><a href="/add">Add Video</a></button>
                </div>
                <div class="login">
                    <button><a href="/login">Login</a></button>
                </div>
            </div>
        </nav>
        <br>
        <h3>{{ message }}</h3>
        <div class="form_addlink">
            <div id="app">
                <form id="form" method="POST" action="{{ url_for('new_video') }}">
                    <div class="container">
                        <label for="text" class="label_title">Your Video Link</label>
                        <input type="text" placeholder="Enter a link valid" name="link" required />
                        <label for="categorie" class="label_select">Choose your category :</label>
                        <select id="cat" name="cat">
                            {% for category in categories %}
                            <option value="{{ text }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                        <div class="buttons">
                            <button id="add" type="submit" class="signup">Add link</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>