<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Elearning Platform</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <nav class="navbar">
            <div class="home">
                <a href="#">Home</a>
            </div>
            <div class="nav_right">
            <div class="add_video">
                <a href="#">Add Video</a>
            </div>
            <div class="login">
                <a href="#">Login</a>
            </div>
        </div>
        </nav>
        <div class="aside_right">
            <div class="categorie">
                <div class="cat1">
                    <a href="#">Categories</a>
                </div>
                <div class="container_language">
                    <a href="#" class="language">Python</a>
                    <a href="#" class="language">JavaScript</a>
                    <a href="#" class="language">Html</a>
                    <a href="#" class="language">Docker</a>
                    <a href="#" class="language">Sql</a>
                    <a href="#" class="language">Reseau</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>