<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Elearning Platform</title>
    <link rel="stylesheet" href="../static/css/loginPage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <nav class="navbar">
            <div class="home">
                <div>
                    <button><a href="/">Home</a></button>
                </div>
                <div class="robot">
                    <img src="../static/img/robot-mecanico.png" alt="logo mecanique" class="logo">
                </div>
            </div>
            <div class="nav_right">
                <div class="add_video">
                    <button><a href="/add">Add Video</a></button>
                </div>
                <div class="login">
                    <button><a href="/login">Login</a></button>
                </div>
            </div>
        </nav>
        <div class="form_addlink">
            <div id="app">
                <form id="form" method="post" action="{{url_for('login')}}">
                    <div class="container">
                        <label for="text" class="label_title">Your name</label>
                        <input type="text" placeholder="Enter your name" name="name" required />
                        <label  class="label_title">Enter your email</label>
                        <input type="email" placeholder="Enter a valid mail" name="email" required />
                        <label for="pass" class="label_title">Password</label>
                        <input type="password" id="pass1" name="password" value={{password1}}
                        placeholder="Enter your password" minlength="10" required>
                        <label for="pass" class="label_title">Confirm your password</label>
                        <input type="password" id="pass2" name="password" value="{{password2}}"
                        placeholder="Confirm your password" minlength="10" required>
                        <div class="buttons">
                            <button id="add" type="submit" class="signup">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>

</html>
